body {
	padding-top: 50px;
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.login-template {
  padding: 40px 15px;
  text-align: center;
}

.newuser-template {
  padding: 40px 15px;
  text-align: center;
}

.profile-template {
  padding: 40px 15px;
  text-align: center;
}

.tableaux{
  display:inline-block;
  vertical-align:top;
}
